/* headLIne style  */
#blue {
  color: blueviolet;
}
/* massage handling  */
#massage {
  display: none;
}
/* spinner  */
#spinner {
  display: none;
}
/* media query  */
@media screen and (max-width: 660px) {
  #details-banner .card {
    width: 18rem;
  }
}
